$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$body-bg: lightgrey url("../img/background.jpg");
$link-color: #D29506;

/*
@text-colour: rgba(0,0,0,0.9);
@anchor-colour: #D29506;
@option-colour: #125D79;

@background: lightgrey url("../img/background.jpg");
@text_background: #e6e6c6;
@color: black;
@links: #B68000;
*/
