$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$body-bg: lightgrey url("../img/background.jpg");
$body-color: rgba(0,0,0,0.9);
$link-color: #D29506;

$text_background: #e6e6c6;
/*
@anchor-colour: #D29506;
@option-colour: #125D79;

@background: lightgrey url("../img/background.jpg");
@color: black;
@links: #B68000;
*/
